---
title: Content page
---
<%= partial('head_content') %>
<body>
<div class="container">
  <%= partial('header_row') %>
  <%= partial('nav_bar') %>
  <div class="row">
    <%= partial('left_navigation') %>
    <div class="col-md-9 main">
      <%= partial('borrowing') %>
    </div>
  </div>
</div>

  <script type="text/javascript" src="javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="javascripts/infoFolder.js"></script>
</body>
</html>
